Externals/Falcor/Tests/Bin/*
Externals/Falcor/Tests/TestsResults/*
Externals/Falcor/Tests/TestConfigsDev/*
Externals/Falcor/Tests/.vs/*

Bin/*
*.user
*.sdf
*.opensdf
*.suo
*.ptx
*.pyc

Externals/Falcor/Falcor.VC.db
Externals/Falcor/FalcorTest.VC.db
Externals/Falcor/Framework/BuildScripts/PatchFalcorProps/PatchFalcorPropertySheet/PatchFalcorPropertySheet.VC.db
Externals/Falcor/FalcorTest/TestResults/*
Externals/Falcor/Falcor.VC.VC.opendb
Externals/Falcor/Framework/Externals/NVAPI/

.vs/*
*.pyc
*.o

# A bit of a song and dance to ignore all the files
# in the Slang codebase except for the ones we need.
Externals/Falcor/Framework/Externals/slang/*
!Externals/Falcor/Framework/Externals/slang/source/
Externals/Falcor/Framework/Externals/slang/source/**/*.vcxproj
Externals/Falcor/Framework/Externals/slang/source/**/*.filters
Externals/Falcor/Framework/Externals/slang/source/**/*.natvis
!Externals/Falcor/Framework/Externals/slang/source/**/*.cpp
!Externals/Falcor/Framework/Externals/slang/source/**/*.cpp
!Externals/Falcor/Framework/Externals/slang/source/**/*.h
Externals/Falcor/Framework/Externals/
Externals/Falcor/Media
